EIDSS7/Web References/NG/EIDSSService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4200/EIDSSService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:4200/EIDSSService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
  <xs:import schemaLocation="http://localhost:4200/EIDSSService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="getSPList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sForWhichModule" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSPListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getSPListResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="executeSP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sCountryCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sSPName" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="sType" type="q2:CommandType" />
        <xs:element minOccurs="0" name="sSPVal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bIsSelect" type="xs:boolean" />
        <xs:element minOccurs="0" name="bValuesWithParams" type="xs:boolean" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="result" nillable="true" type="q3:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="executeSPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="executeSPResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sCountryCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="organization" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogInResult" type="xs:int" />
        <xs:element minOccurs="0" name="ds" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sCountryCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sSPVal" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangePasswordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sCountryCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sDataFor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sSPVal" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetDataResult" nillable="true" type="q4:TupleOfDataSetArrayOfanyTypeKn1ruZ1_P" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataWithStructuredParams">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sCountryCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sDataFor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sSPVal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="structuredTables" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataWithStructuredParamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetDataWithStructuredParamsResult" nillable="true" type="q5:TupleOfDataSetArrayOfanyTypeKn1ruZ1_P" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncryptData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sCountryCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncryptDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EncryptDataResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitialHash">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sCountryCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitialHashResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InitialHashResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>